.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  max-width: 570px;
  z-index: 1;
}

.close-modal {
  height: 18px;
  width: 24px;
  color: var(--title-text-color);
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-tab__header {
  background-color: var(--background-color-cart);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-tab__header-title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--title-text-color);
}

.cart-tab__order-box {
  padding: 25px;
}

.order-text {
  margin-bottom: 8px;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
}

.cart-tab__order-details-inner-img {
  width: 46px;
  height: 46px;
}

.cart-tab__order-details-inner-name {
  padding-left: 30px;
  padding-right: 10px;
  max-width: 100px;
  margin-right: auto;
}

.order-details-name {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--main-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details__purchase-modal {
  width: 66px;
  height: 33px;
  border: 0.66px solid var(--border-iput-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  max-width: 128px;
  overflow: hidden;
  margin: 0 16px 0 0;
}

.quantity-input {
  display: inline-flex;
  width: 65px;
  height: 37px;
  border: 0.66px solid var(--border-iput-color);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.purchase__quantity-input-modal {
  border: none;
  width: 31px;
  height: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.details__purchase-inner-modal {
  display: flex;
  padding: 8px 12px 8px 12px;
  border: 0.667px;
}

.purchase__quantity-buttons-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10px;
}

.button-up-modal {
  cursor: pointer;
}

.button-down-modal {
  transform: rotate(180deg);
  cursor: pointer;
}

.cart-tab__order-details-price {
  margin-right: auto;
}

.order-details-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--main-text-color);
  margin-left: 24px;
}

.cart-tab__order-details-delete-item {
  height: 18px;
  width: 14px;
  order: 1;
  cursor: pointer;
}

.cart-tab__order-details-inner {
  display: flex;
  align-items: center;
  justify-content: start;
}

.cart-tab__order-total-price {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.order-total-price-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-color);
  margin-top: 8px;
  margin-right: 10px;
}

.order-total-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text-color);
  margin-top: 8px;
}

.customer-details-place {
  margin-top: 24px;
}

.customer-details-place-text {
  margin-bottom: 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
}

.customer-details-info-block {
  margin-top: 12px;
  display: flex;
}

.customer-details-info {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--main-text-color);
  margin-top: 12px;
}

.customer-details-star {
  font-size: 17px;
  font-weight: 400;
  color: var(--hover-text-color);
  margin-top: 10px;
  margin-left: 5px;
}

.customer-details-input-info {
  margin-top: 12px;
  margin-bottom: 24px;
}

.customer-details-input {
  background-color: rgba(60, 55, 49, 0.12);
  height: 40px;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 11px 22px;
  cursor: text;
  text-align: start;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: var(-divider-color);
}

.customer-details-input:focus {
  border: 2px solid var(--head-hero-button-about-us-hover-text);
  outline: none;
}

.customer-details-input-comment {
  background-color: rgba(60, 55, 49, 0.12);
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 11px 22px;
  cursor: text;
  margin-bottom: 30px;
  margin-top: 12px;
  min-height: 114px;
  resize: none;
  overflow-wrap: break-word;
  text-align: start;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: var(-divider-color);
  -webkit-font-smoothing: antialiased;
}

.customer-details-input-comment:focus {
  border: 2px solid var(--head-hero-button-about-us-hover-text);
  outline: none;
}

.order-button-block {
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
}

.order-button {
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--head-main-page-color);
  border: none;
  border-radius: 20px;
  background-color: var(--head-hero-button-about-us);
  cursor: pointer;
}
