@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --title-text-color: rgb(60, 55, 49);
  --main-text-color: rgb(149, 139, 126);
  --description-text-color: rgb(142, 142, 142);
  --price-text-color: rgb(237, 100, 53);
  --button-cart-background-color: rgb(178, 231, 233);
  --button-cart-text-color: rgb(69, 193, 199);
  --button-cart-background-color-hover: rgb(255, 230, 212);
  --background-care-block: rgb(250, 244, 242);
  --hover-text-color: rgb(255, 0, 0);
  --stock-text-color: rgb(97, 168, 84);
  --divider-color: rgb(60, 55, 49);
  --card-page-text-color: rgb(35, 35, 35);
  --head-main-page-color: rgb(237, 100, 53);
  --head-background-color: rgb(242, 232, 228);
  --head-main-text-color: rgb(0, 0, 0);
  --head-hero-button-about-us: rgb(255, 230, 212);
  --head-hero-button-about-us-hover: rgb(178, 231, 233);
  --head-hero-button-about-us-hover-text: rgb(69, 193, 199);
  --border-iput-color: rgb(197, 203, 214);
  --background-quantity-color: rgb(255, 255, 255);
  --box-shadow: rgba(35, 33, 54, 0.08) 0px 1px 0px 0px;
  font-family: "Baloo 2", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
