
.header__info{
   padding: 5px;
   margin: 5px;
}

.header__data{
    background-color: var(--head-background-color);
    color: var(--head-main-page-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: -7%;
}

.header__contacts-info{
    display: flex;   
    
}

.header__data .header__contakts{
    text-decoration: none;
    color: var(--head-main-page-color);
    margin-right: 20px;
}

.header__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(250 244 242);
    
}

.header__data .header__contakts:hover{
    text-decoration: underline;
}

.header__small-logo img {
    width: 200px; 
    height: auto; 
    padding: 5px;
    margin: 5px;
}



.header__nav a {
    margin-right: 50px;
    font-weight: bold;
    color: var(--head-main-text-color) 
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    
}

.header__nav a::after {
    content: '';
    width: 0;
    height: 2px; 
    background-color: var(--head-main-text-color); 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.header__nav a:hover {
    color: red; 
}

.header__nav a:hover::after {
    width: 100%; 
}
.header__social-icons{
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}
.header__social-icons img{
    margin-right: 15px;
    width: 30px; 
    height: auto; 
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

@media screen and (max-width: 1050px) {
    .burger-menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    .burger-icon {
        width: 30px;
        height: 4px;
        background-color: #333;
        margin: 6px 0;
        border-radius: 2px;
    }
    
    .header__menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .header__menu.show {
        display: block;
    }
}


@media screen and (max-width: 1050px) {
  
    .header__menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    /* Show the header menu when the burger menu is clicked */
    .header__menu.show {
        display: block;
    }
}