
.header__info{
   padding: 5px;
   margin: 5px;
}

.header__data{
    width: 107%;
    background-color: var(--head-background-color);
    color: var(--head-main-page-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: -7%;
}

.header__contacts-info{
    display: flex;
}

.header__data .header__contakts{
    text-decoration: none;
    color: var(--head-main-page-color);
    margin-right: 20px;
}

.header__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(250 244 242);
    
}

.header__data .header__contakts:hover{
    text-decoration: underline;
}

.header__small-logo img {
    width: 200px; 
    height: auto; 
    padding: 5px;
    margin: 5px;
}


.header__nav a {
    margin-right: 50px;
    font-weight: bold;
    color: var(--head-main-text-color) 
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    
}

.header__nav a::after {
    content: '';
    width: 0;
    height: 2px; 
    background-color: var(--head-main-text-color); 
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 
}

.header__nav a:hover {
    color: red; 
}

.header__nav a:hover::after {
    width: 100%; 
}
.header__social-icons{
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}
.header__social-icons img{
    margin-right: 15px;
    width: 30px; 
    height: auto; 
}
 
  @media screen and (max-width: 970px) {
    .burger-menu {
      display: block;
    }
    .header__data,
    .header__menu,
    .header__nav,
    .header__social-icons {
      display: none;
      }
}

.mobile-icons {
    text-align: center;
    margin-top: 10vh;
    transform: translateY(-50%);
  }

  .mobile-icons a {
    display: inline-block;
    margin: 0 10px;
  }
  
.hamburger{
    position: fixed;
    width: 30px;
    cursor: pointer;
    height: 20px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}



.mobile-info {
    text-align: center;
    margin-top: 10vh;
    transform: translateY(-50%);
  }
  
.mobile-info a {
    display: block;
    margin-bottom: 10px;
  }
.hamburger .bar, .hamburger:before, .hamburger:after {
    
    content:'';
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

 .mobile-nav{
    position: fixed;
    display: block;
    font-weight: bold;
    top: 0;
    right: 100%;
    width: 70%;
    z-index: 98;
    min-height:5vh;
   
    background-color: rgb(255, 230, 212);
    padding-top: 120px;
    transition: 0.4s;

}

.mobile-nav a{
    margin: 0 auto 10px;
    text-align: center;
    width: 100%; 
    max-width: 200px;
    padding:6px 10px;
    color: black;
    background-color: bisque;
}

.mobile-nav.is-active{
    right:0;
}
.mobile-nav p{
    margin-top: 5px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding:10px 10px;
    line-height: 2px;
    color: red;
}

.mobile-nav img{
    display: inline-block;
    margin-right: 15px;
    width: 30px; 
    height: auto; 
}

.mobile-nav a:hover{
    background-color:aquamarine
}

@media (min-width:970px) {
.mobile-nav{
    display: none;
}
.hamburger{
    display: none;
    
}
    
}