.recommendations__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: var(--title-text-color);
  line-height: 60px;
}

.recommendations__description {
  font-family: "PT Sans", sans-serif;
  color: var(--main-text-color);
  font-size: 19px;
  text-align: center;
  font-weight: 400;
}


.products-card {
  display: flex;
  flex-direction: column;
}

.products-card .product-card__name-link {
  color: var(--main-text-color);
}

.products-card .product-card__name-link:hover {
  text-decoration: underline;
}