.articles {
    padding-top: 110px;
    padding-bottom: 115px;
}
.articles__title {
    text-align: center;
    font-family: "Baloo 2", cursive;
    font-size: 50px;
    color: var(--title-text-color);
} 
.articles__content {
    text-align: center;
    color: var(--main-text-color);  
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 19px;
}
.articles__bone {
    max-width: 80px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.articles__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.articles__image {
    width: 400px;
    padding-left: 15px;
    padding-right: 15px;
}
.articles__header__content {
    margin-top: 20px;
    font-size: 24px;
    color: var(--title-text-color);
    font-family: "Baloo 2", cursive;
}
.articles__info__content {
    margin-top: 20px;
    color: var(--main-text-color);
    font-size: 17px;
}
.articles__link__container {
    margin-top: 28px;
}
.articles__link {
    text-decoration:none;
    color: var(--title-text-color);
    font-size: 15px;
}
@media (min-width: 850px) {
.articles__row {
   flex-direction: row;
}}