.articles__title {
    text-align: center;
} 
.articles__content {
    text-align: center;
    color: #958b7e;  
}
.articles__bone {
    width: 120; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.articles__row {
  display: flex;
  justify-content: center;
}
.articles__image, .articles__figure {
    width: 400px;
}