.promotion {
    display: flex;
    flex-direction: column;
    background-image: url("../img/coundown-background.png");
    background-size: cover;
    min-height:769px;
    padding-top: 90px;
    padding-bottom: 100px;
}

.promotion__block {
    padding: 0 24px;
}

.promotion__info {
    padding-left: 24px;
    padding-right: 24px;
}

.promotion__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--button-cart-text-color);
    text-align: left;
    line-height: 21px;
}

.promotion__title {
    margin-top: 20px;
    font-size: 48px;
    color: var(--title-text-color);
    text-align: left;
    line-height: 48px;
}

.promotion__description {
    margin-top: 35px;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: left;
    line-height: 28.5px;
}

.promotion__discount {
    font-weight: bold;
    color: var(--price-text-color);
}

.promotion__countdown {
    margin-top: 50px;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    padding-left: 24px;
    padding-right: 24px;
}

.countdown__component {
    border-radius: 5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--button-cart-text-color);
    width: 55.5px;
    height: 55.5px;
    padding: 2px 2px;
}

.countdown__number {
    font-size: 18px;
    font-weight: 700;
    color: var(--title-text-color);
}

.countdown__unit {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    color: var(--title-text-color);
}

.promotion__button {
    padding-left: 24px;
    padding-right: 24px;
}

.promotion__button__title {
    margin-top: 35px;
    background-color: var(--button-cart-background-color);
    display: inline-block;
    padding: 10px 10px;
    border-width: 1px;
    border-radius: 25px;
    border-color: transparent;
    border-style: solid;
    height: 48.5px;
    width: 133px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: var(--button-cart-text-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 16.5px;
}

.promotion__button__title:hover {
    background-color: var(--button-cart-background-color-hover);
    color: var(--price-text-color);
}

@media (min-width: 768px) {
    .promotion {
        padding-top: 117.5px;
        padding-bottom: 125px;
    }
    .promotion__block {
        padding: 0 32px;
        margin-left: 75px;
    }

    .promotion__info {
        padding-left: 32px;
        padding-right: 32px;
    }

    .promotion__title {
      font-size: 70px;
      line-height: 70px;
    }

    .promotion__subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .promotion__countdown {
        gap: 14px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .countdown__component {
        width: 70.4px;
        height: 70.4px;
        padding: 3px 3px;
    }
    
    .countdown__number {
        font-size: 25px;
    }
    
    .countdown__unit {
        font-size: 15px;
    }
    
    .promotion__button {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 992px) {
    .promotion {
        min-height:953px;
        padding-top: 145px;
        padding-bottom: 150px;
    }

    .promotion__block {
        padding: 0 40px;
        margin-left: 250px;
        max-width: 700px;
    }

    .promotion__info {
        padding-left: 40px;
        padding-right: 40px;
    }

    .promotion__title {
      font-size: 82px;
      line-height: 82px;
    }

    .promotion__subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .promotion__countdown {
        gap: 14px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .countdown__component {
        width: 75px;
        height: 75px;
        padding: 3px 3px;
    }
    
    .countdown__number {
        font-size: 25px;
    }
    
    .countdown__unit {
        font-size: 15px;
    }
    
    .promotion__button {
        padding-left: 40px;
        padding-right: 40px;
    }
    
}

@media (min-width: 1200px) {
    .promotion__block {
        padding: 0 40px;
        margin-left: 300px;
        max-width: 700px;
    }

    .promotion__countdown {
        gap: 28px;
    }

    .countdown__component {
        width: 93px;
        height: 93px;
        padding: 4px 4px;
    }
    
    .countdown__number {
        font-size: 36px;
    }
    
    .countdown__unit {
        font-size: 18px;
    }
}