.customer-reviews__title {
    font-size: 44px;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
    text-align: center;
}

.customer-reviews__title-text {
    text-align: center;
    font-size: 18px;
    font-family: "Baloo 2", sans-serif;
    color: rgb(142, 142, 142);
}

.customer-reviews__reviewstitle {
    font-size: 14px;
    color: rgb(237, 100, 53);
    font-family: "PT Sans", sans-serif;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.customer-reviews__review {
    color: rgb(142, 142, 142);
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    padding-top: 20px;
}

.customer-review__h3 {
    font-size: 23px;
}

.customer-reviews__date {
    font-size: 14px;
    padding-top: 20px;
}

img {
    border-radius: 500px;
}

.customer-reviews__title-bone {
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.customer-reviews__carousel {
    display: flex;
    flex-direction: row;
}

.customer-reviews__carousel-slides-item {
    flex-direction: row;
    border: 1px solid #f3b250;
    margin: 20px;
    padding: 40px 5px 40px 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.customer-reviews__carousel-btn-prev,
.customer-reviews__carousel-btn-next {
    margin-top: 24px;
    min-width: 145px;
    min-height: 49px;
    background-color: var(--button-cart-background-color);
    border-radius: 25px;
    color: var(--button-cart-text-color);
    cursor: pointer;
    font-family: "PT Sans", sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    line-height: 16.5px;
    padding: 16px 28px;
    border: none;
}

.customer-reviews__carousel-btn-prev,
.customer-reviews__carousel-btn-next:hover {
    background-color: var(--button-cart-background-color-hover);
    color: var(--price-text-color);
}