.partners {
  width: 100%; /* Full container width */
  overflow: hidden; /* Hide overflow */
  position: relative; /* Relative positioning for navigation buttons */
  background-color: rgb(250, 244, 242);
  padding-top: 30px;
  padding-bottom: 90px;
}

/* Horizontal flexbox layout for carousel slides */
.partners__carousel-slides {
  display: flex;
  transition: transform 0.3s ease-in-out; /* Slide transition */
}

/* Fixed size for carousel items, centered content */
.partners__carousel-slides-item {
  width: 261px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #ffe6d4;
}

/* Responsive image styling */
.partners__carousel-slides-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Absolute positioning for navigation buttons */
.partners__carousel-btn-prev,
.partners__carousel-btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* Rotate previous button arrow */
.partners__carousel-btn-prev .arrow-svg_1j4 {
  transform: rotate(180deg);
}

/* Positioning for Previous and Next buttons */
.partners__carousel-btn-prev { left: 10px; }
.partners__carousel-btn-next { right: 10px; }

/* Arrow style */
.arrow-svg_1j4 {
  fill: #333;
  width: 30px;
  height: 30px;
}

/* Hover effect on navigation buttons */
.partners__carousel-btn-prev:hover,
.partners__carousel-btn-next:hover {
  background-color: #333;
  border-radius: 20px;
}

.arrow-svg_1j4:hover {
  fill: black;
}