.articles {
    padding-top: 110px;
    padding-bottom: 115px;
}
.articles__title {
    text-align: center;
} 
.articles__content {
    text-align: center;
    color: #958b7e;  
    margin-top: 20px;
    margin-bottom: 50px;
}
.articles__bone {
    width: 120px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.articles__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.articles__image {
    width: 400px;
    padding-left: 15px;
    padding-right: 15px;
}
.articles__header__content {
    margin-top: 20px;
}
.articles__info__content {
    margin-top: 20px;
    color: #958b7e;
}
.articles__link {
    color:black;
    text-decoration:none;
    margin-top: 20px;
}
@media (min-width: 670px) {
.articles__row {
   flex-direction: row;
}}