.care-sections {
  background-color: var(--background-care-block);
}

.careblock {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 0px 15px 0px 15px;
  margin: auto;
}

.care-sections__content-img {
  max-width: 570px;
  margin: auto;
  padding: 24px;
}

.care-sections__content-description {
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
}

.care-sections__content-title-text {
  color: var(--title-text-color);
  font-size: 3.125rem;
  font-weight: 700;
  width: auto;
}

.care-sections__content-description-bone-icon {
  max-width: 80px;
  margin-top: 25px;
}

.care-sections__content-subtitle-text {
  color: var(--main-text-color);
  font-size: 1.188rem;
  line-height: 28.5px;
  margin-top: 20px;
}

.care-sections__content-body-text {
  color: var(--description-text-color);
  font-size: 1.063rem;
  line-height: 27.2px;
  margin-top: 25px;
}

.care-sections__advantages {
  color: var(--main-text-color);
  margin-top: 20px;
}

.care-sections__advantages-text {
  margin-left: 10px;
}

.care-sections__advantages-inner {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.care__infoblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.care__infoblock .content__sheeping {
  display: flex;
  flex-direction: row;
}

.content__shipping-title {
  color: var(--title-text-color);
  font-weight: 700;
}

.content__shipping-body {
  color: var(--main-text-color);
}

.care__infoblock .content__return {
  display: flex;
  flex-direction: row;
}

.content__return-title {
  color: var(--title-text-color);
  font-weight: 700;
}

.content__return-body {
  color: var(--main-text-color);
}

.content__paymant {
  display: flex;
  flex-direction: row;
}

.content__paymant-title {
  color: var(--title-text-color);
  font-weight: 700;
}

.content__paymant-body {
  color: var(--main-text-color);
}

.content__support {
  display: flex;
  flex-direction: row;
}

.content__support-title {
  color: var(--title-text-color);
  font-weight: 700;
}

.content__support-body {
  color: var(--main-text-color);
}
