.promotion {
    display: flex;
    flex-direction: column;
    background-image: url("../img/coundown-background.png");
    background-size: cover;
    min-height:860px;
}

.promotion__block {
    padding-top: 170px;
    padding-left: 100px;
    margin-left: 142.5px;
    max-width: 570px;
}

.promotion__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--button-cart-text-color);
    text-align: left;
}

.promotion__title {
    margin-top: 20px;
    font-size: 82px;
    color: var(--title-text-color);
    text-align: left;
    line-height: 70px;
}

.promotion__description {
    margin-top: 35px;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    color: var(--main-text-color);
    text-align: left;
    line-height: 28.5px;
}

.promotion__discount {
    font-weight: bold;
    color: var(--price-text-color);
}

.promotion__countdown {
    margin-top: 50px;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

.countdown__component {
    border-radius: 5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--button-cart-text-color);
    width: 93px;
    height: 93px;
    padding: 10px 10px;
}

.countdown__number {
    font-size: 30px;
    font-weight: 700;
    color: var(--title-text-color);
}

.countdown__unit {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: var(--title-text-color);
}

.promotion__button__title {
    margin-top: 35px;
    background-color: var(--button-cart-background-color);
    display: inline-block;
    padding: 10px 10px;
    border-width: 1px;
    border-radius: 25px;
    border-color: transparent;
    border-style: solid;
    height: 48.5px;
    width: 133px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: var(--button-cart-text-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 16.5px;
}

.promotion__button__title:hover {
    background-color: var(--button-cart-background-color-hover);
    color: var(--price-text-color);
}
