.bestproducers {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: stretch;
}

.bestproducers__image-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.bestproducers__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bestproducers__content {
    padding-left: 15px;
    padding-right: 15px;
    /* max-height: 498px; */
    /* justify-content: flex-start; */
    background-image: url("../img/bannerfood.png");
    /* background-color: transparent; */

}

@media (max-width: 768px) {
    .bestproducers {
        display: flex;
        flex-direction: column;
    }

    .bestproducers__content {
        margin-top: 50px ;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.bestproducers__textblock {

    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.bestproducers__promo {
    color: var(--price-text-color);
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.bestproducers__title {
    color: var(--title-text-color);
    font-family: "Baloo 2", cursive;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 33.6px;
}

.bestproducers__link {
    color: rgba(35, 35, 35, 0.45);
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    /* margin-block-start: 25px; */
    margin-top: 25px;
    line-height: 27.2px;
}

.bestproducers__link-arrow{
    color: var(--button-cart-text-color);
}

.bestproducers__link:hover {
    text-decoration: underline;
  }

.bestproducers__list {
  margin-top: 20px;
}

.bestproducers__item {
    color: var(--title-text-color);
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.bestproducers__dot {
    color: var(--price-text-color);
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
}