.promotion {
    background-image: url("../img/coundown-background.png");
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
}

.promotion__subtitle {
    text-align: left;
}

.promotion__title {
    text-align: left;
}

.promotion__description {
    text-align: left;
}

.promotion__countdown {
    margin: 25px;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3em;
}