@import "common.css";
@import "header.css";

.card-item__page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-item__link-store {
  font-family: "PT Sans";
  font-size: 1.063rem;
  font-weight: 400;
  color: var(--card-page-text-color);
  display: flex;
}

.card-item__link-store:hover {
  color: var(--hover-text-color);
}

.card-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-item__carousel {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.product-media {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 570px;
  align-items: center;
  justify-content: center;
}

.product-media__img {
  width: 427.5px;
}

.product-template-block {
  display: flex;
  flex-direction: column;
}

.product-template__status-item {
  font-family: "PT Sans", sans-serif;
  font-size: 1.063rem;
  color: var(--stock-text-color);
}

.product-template__name-item {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-text-color);
}

.product-template__code-item {
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--main-text-color);
}

.product-template__price-item {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--main-text-color);
}

input[type="number"] {
  -webkit-appearance: textfield;
}

.product-template-divider {
  width: 570px;
  color: var(--divider-color);
}
