@import "common.css";
@import "header.css";

.card-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-page__back-link {
  font-family: "PT Sans";
  font-size: 1.063rem;
  font-weight: 400;
  color: var(--card-page-text-color);
  display: flex;
}

.card-page__store-link:hover {
  color: var(--hover-text-color);
}

.card-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-item__carousel {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  max-width: 570px;
}

.carousel__image {
  max-width: 430px;
}

.product-media {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 570px;
  align-items: center;
  justify-content: center;
}

.carousel__button-prev {
  position: relative;
  border: none;
  background-color: var(--background-color-scroll-button);
  left: -25px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  cursor: pointer;
}

.carousel__button-next {
  border: none;
  background-color: var(--background-color-scroll-button);
  position: relative;
  right: -50px;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  cursor: pointer;
}

.product-media:hover {
  .carousel__button-prev {
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(15px);
  }
  .carousel__button-next {
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateX(-25px);
  }
}

.product-media__img {
  width: 427.5px;
}

.card-item__details {
  display: flex;
  flex-direction: column;
}

.details__title {
  font-family: "PT Sans", sans-serif;
  font-size: 1.063rem;
  color: var(--stock-text-color);
}

.details__status {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-text-color);
}

.details__code {
  font-family: "PT Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--main-text-color);
}

.details__price {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--main-text-color);
  margin-top: 24px;
}

.product-template-divider {
  background: var(--background-divider-color);
  border: 0px solid rgb(60, 55, 49);
  box-sizing: border-box;
  color: var(--divider-color);
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 1px;
  line-height: 27.2px;
  margin: 24px 0;
  overflow-wrap: break-word;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.quantity-input {
  display: inline-flex;
  width: 65px;
  height: 37px;
  border: 0.66px solid var(--border-iput-color);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.purchase__quantity-input {
  border: none;
  width: 31px;
  height: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-template-divider {
  background-color: var(--background-divider-color-shadow);
  height: 1px;
  width: 100%;
  margin: 24px 0 24px 0;
}

.quantity-product {
  display: flex;
}

.details__purchase {
  width: 66px;
  height: 33px;
  border: 0.66px solid var(--border-iput-color);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  max-width: 128px;
  overflow: hidden;
  margin: 0 16px 0 0;
}

.details__inner {
  display: flex;
  padding: 8px 12px 8px 12px;
  border: 0.667px;
}

.purchase__quantity-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10px;
}

.button-up {
  cursor: pointer;
}

.button-down {
  transform: rotate(180deg);
  cursor: pointer;
}

.purchase__buy-button {
  border: none;
  border-radius: 20px;
  background-color: var(--head-hero-button-about-us);
  color: var(--price-text-color);
  width: 100%;
  box-sizing: border-box;
  height: 37px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  display: block;
  cursor: pointer;
}

.purchase__buy-button:hover {
  color: var(--head-hero-button-about-us-hover-text);
  background-color: var(--background-color-button-add-hover);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  transition: color 0.2s ease-in, background-color 0.2s ease-in,
    border-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.description__title {
  margin-top: 24px;
  margin-bottom: 17px;
}

.description__title-text {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  color: var(--main-text-color);
  padding: 0 10px 10px 10px;
  width: 100px;
  cursor: pointer;
}

.description__title-divider {
  display: flex;
  align-items: end;
}

.description__title-divider-strong {
  background-color: var(--head-main-page-color);
  height: 2px;
  width: 110px;
  cursor: pointer;
}

.description__title-divider-thin {
  background-color: var(--background-divider-color-shadow);
  height: 1px;
  width: 100%;
}

.description__text {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 27.2px;
}

.card-item__thumbnail {
  margin-top: 15px;
}

.card-item__thumbnail-img {
  max-height: 105px;
  max-width: 105px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--head-main-text-color);
}

@media (max-width: 767px) {
  .card-item__page {
    display: flex;
    flex-direction: column;
  }
}
