@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  font-family: "Baloo 2", sans-serif;
}
.animals {
  border-color: #11ffee00;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
.animals-size {
  width: 100px;
}
.products-title {
  font-family: "Baloo 2", sans-serif;
  color: #fa8250;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 80px;
  line-height: 60px;
  font-style: normal;
}
.best picks {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #958b7e;
}
.products__carousel-animals-item {
  border-color: #f3b250;
  border-width: 1px;
  border-style: solid;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.bone {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.products__food-n-stuff {
  position: relative;
  width: 50%;
}
.food-n-stuff-btn {
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.food-n-stuff-btn1 {
  position: absolute;
  width: 130px;
  top: 40%;
  left: 130%;
  background-color: #ffe6d4;
  color: rgb(201, 89, 25);
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20%;
}