/*carousel css*/

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.pet-item {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: var(--button-cart-text-color);
  border: none;
  outline: none;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.products__carousel-animals-item {
  border-color: var(--button-cart-background-color-hover);
  border-width: 1px;
  border-style: solid;
  width: 250px;
  margin: 0 25px;
  text-align: center;
}

/*food-n-stuff css*/
.products-title {
  font-family: 'baloo 2', sans-serif;
  font-size: medium;
  color: #f3b250;
  text-align: center;
}
.foodbutton {
  margin-top: 24px;
  min-width: 145px;
  min-height: 49px;
  background-color: var(--button-cart-background-color-hover);
  border-radius: 25px;
  color: var(--button-cart-text-color);
  cursor: pointer;
  font-family: "Baloo 2", sans-serif;
  font-size: 16.5px;
  font-weight: bold;
  line-height: 16.5px;
  padding: 16px 28px;
  border: none;
}
.products_container {
  display: flex;
  justify-content: center;
  gap: 25px; 
  margin: 50px; 
}
.foodpic {
  max-width: 100%; 
  height: auto;
}
.stuffpic {
  max-width: 100%; 
  height: auto;
}
.bonelittleimg {
  width: 100px;
  margin: auto;
}
.bestpicks {
  text-align: center;
    font-size: large;
}