/*carousel css*/

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.pet-item {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  color: var(--button-cart-text-color);
  border: none;
  outline: none;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

.products__carousel-animals-item {
  border-color: var(--button-cart-background-color-hover);
  border-width: 1px;
  border-style: solid;
  width: 250px;
  margin: 0 25px;
  text-align: center;
}

/*food-n-stuff css*/
.productstitle {
  font-weight: 700;
  font-size: 50px;
  color: var(--title-text-color);
  line-height: 60px;
  text-align: center;
  margin-top: -50px;
}
.foodbutton {
  position: absolute;
  top: 70%;
  left: 15%;
  transform: translate(-50%, -50%);
  margin-top: 24px;
  min-width: 145px;
  min-height: 49px;
  background-color: var(--button-cart-background-color-hover);
  border-radius: 25px;
  color: var(--price-text-color);
  cursor: pointer;
  font-family: "Baloo 2", sans-serif;
  font-size: 16.5px;
  font-weight: bold;
  line-height: 16.5px;
  padding: 16px 28px;
  border: none;
}
.stuffbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 24px;
  min-width: 145px;
  min-height: 49px;
  background-color: var(--button-cart-background-color-hover);
  border-radius: 25px;
  color: var(--price-text-color);
  cursor: pointer;
  font-family: "Baloo 2", sans-serif;
  font-size: 16.5px;
  font-weight: bold;
  line-height: 16.5px;
  padding: 16px 28px;
  border: none;
}
.products_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px; 
  margin: 200px; 
}
.foodpic {
  width: 700px; 
  height: 400px;
  }
.stuffpic {
  width: 700px;
  height: 400px;
}
.bonelittleimg {
  width: 100px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.bestpicks {
  font-weight: 400;
  font-size: 20px;
  color: var(--title-text-color);
  line-height: 30px;
  text-align: center;
}
.productstitle {
  text-align: center;
}
.image-with-button {
  position: relative;
}
.redtext {
  position: absolute;
  top: 20%;
  left: 10%;
}
.foodtext {
  position: absolute;
  top: 30%;
  left: 10%;
}