.treats {
    background-color: rgb(250, 244, 242);
  }

.treats__description {
    font-weight: 400;
  }

.treats__photo {
    max-width: 120px;
    height: auto;
}
  
.treats__title {
    text-align: center;
  }

  .grid__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .grid__container {
      grid-template-columns: 1fr;
    }
  }



.bone__treats{
  max-width: 80px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.treats__title-description{
  text-align: center;
}
